[Unit]
Description=openhab-yandex-bridge
ConditionPathExists=/opt/ohyandex/ohyandex
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/opt/ohyandex
ExecStart=/opt/ohyandex/ohyandex
StandardError=append:/var/log/ohyandex/app.log

Restart=on-failure
RestartSec=10

ExecStartPre=/bin/chown syslog:adm /var/log/ohyandex
ExecStartPre=/bin/chmod 775 /opt/ohyandex/ohyandex

[Install]
WantedBy=multi-user.target
